<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>deneme</title>

    <!-- Babel script -->
    <script
      type="text/javascript"
      src="https://unpkg.com/@babel/standalone/babel.min.js"
    ></script>

    <!-- React scripts -->
    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
    ></script>
    <script src="https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js"></script>

  </head>
  
  <body>
    
    <!-- burası jinjadan gelen değeri variable olarak saklıyor -->
    <script>
      var jinjaValue = {{ jinja_value|tojson|safe }};
      console.log(jinjaValue);
    </script>

    <!-- herşey bu rootta renderlenecek. bunun içi boş kalmalı -->
    <div id="root"></div>

    
    {% raw %} <!-- bu satır jinjaya ait -->

    <!-- reacta ait script -->
    <script type="text/babel">
      const Link = ReactRouterDOM.Link
      const Route = ReactRouterDOM.Route
      const BrowserRouter = ReactRouterDOM.BrowserRouter;

      const App = (props) => (

        /* ilk div tagı tüm sayfalarda duruma göre ortak component göstermek için. mesela burada navbar olarak iş yapıyor. */
        /* altındaki üç adet route tagı ise reactta navigasyonları tanımlamak için. yeni bir route yaratılacaksa burada tanımlanmalı. */
        <BrowserRouter>
          <div style={{ display: "flex", gap: "2rem" }}>
            <div>
              <Link to="/">HOME PAGE</Link>
            </div>
            <div>
              <Link to="/profile">PROFILE PAGE</Link>
            </div>
            <div>
              <Link to="/dashboard">DASHBOARD PAGE</Link>
            </div>
          </div>

          <Route
            path="/"
            exact
            render={() => <HomePage />}
          />
          <Route
            path="/profile"
            render={() => <ProfilePage  />}
          />
          <Route
            path="/dashboard"
            render={() => <DashboardPage  />}
          />
        </BrowserRouter>
      );


      /* bunlar da sayfa componentleri. burada yaratılan component yukarıdaki route'da render fonksiyonuna eklenmeli */
      const HomePage = (props) => (
        <div>
          <h1>HOME PAGE</h1>

          <li>
            <Link to="/profile">TO PROFILE PAGE</Link>
          </li>
          <li>
            <Link to="/dashboard">TO DASHBOARD PAGE</Link>
          </li>
          <p style={{color: blue}}>jinja value is: {jinjaValue}</p>
        </div>
      );

      const ProfilePage = (props) => (
        <div>
          <h1>PROFILE PAGE</h1>
          <p style={{color: blue}}>jinja value is: {jinjaValue}</p>
          <p>hello im cankat </p>
          <Link to="/dashboard">look to dashboard</Link>
        </div>
      );

      const DashboardPage = (props) => (
        <div>
          <h1>DASHBOARD PAGE</h1>
          <p>those are my stats</p>
          <p style={{color: blue}}>jinja value is: {jinjaValue}</p>
          <Link to="/profile">also visit my profile</Link>
        </div>
      );

      const root = ReactDOM.createRoot(document.getElementById("root"));
      root.render(<App />);
    </script>

    {% endraw %} <!-- bu satır jinjaya ait -->
  </body>
</html>
